openapi: 3.2.0
info:
  title: Connskill Com SERP API
  version: 3.0.0
  contact:
    email: info@connskill.com
  termsOfService: https://agent.connskill.com/pricing
  x-guidance: Read the free discovery, input and quote routes first. Paid operations return an x402 challenge carrying the exact amount, asset, network and recipient. Prices can vary with selected tier, inputs or usage; use the actual challenge before approving payment. Support is free and uses a separate wallet ownership signature. Preserve the original request and payment proof for redelivery; never pay again for an unresolved purchase.
  x-logo:
    url: https://agent.connskill.com/icon.png
    altText: CONNSKILL
  x-trust:
    operator: CONNSKILL GmbH & Co. KG
    jurisdiction: Germany (EU)
    contact: info@connskill.com
    auth: No account or API key. Manual first purchases and private redelivery require a free Sign-In-With-X wallet proof from POST /v1/payments/challenge.
    payment: x402 v2, USDC on Base (eip155:8453), pay-per-call to 0x43B85AE58f0A2505c710Bc715d6f3EB16b1f63dE
    idempotency: A fresh wallet proof bound to the exact original request and payment references can retrieve its retained private result without another payment.
    redelivery: Private redelivery only reads a retained result. A missing result or uncertain purchase remains held for wallet support; it never starts another provider order.
    refund: On-chain settlement is technically final. This does not exclude statutory claims. Invalid input is rejected before settlement; failed delivery must be resolved through the delivery policy and support.
    unclearState: If a purchase times out and we cannot tell whether the provider charged us, you get HTTP 504 with stateUnclear — so you never blindly re-order.
    timeouts: No uptime SLA. Every outbound call has a timeout (provider 20s, DataForSEO 45s, purchase 60s); the gateway hard-caps at 90s and returns 504 rather than hanging.
    rateLimit: Paid service calls have no per-caller rate limit. Wallet challenges have bounded capacity and can return 429. Request size limits apply. We never log your IP; only technical metadata such as User-Agent and Referer.
    discovery: https://agent.connskill.com/openapi.json · https://agent.connskill.com/.well-known/x402 · https://agent.connskill.com/llms.txt · https://agent.connskill.com/pricing
  description: 'Operations tagged SERP across 2 of this provider''s published API definitions: connskill-com-openapi.json, connskill-com-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://agent.connskill.com
  description: CONNSKILL Growth Services gateway (Mittwald, Germany) — base named by info.x-trust.discovery, the A2A agent card skills and the npm client's X402_ORIGIN default; the published document declares no servers[]
tags:
- name: SERP
paths:
  /v1/site-audit-onpage:
    get:
      operationId: siteAuditOnpage
      summary: Fetch the on-page crawl summary of a paid site audit that was still crawling…
      tags:
      - SERP
      security: []
      parameters:
      - name: taskId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: onpage block as in /v1/site-audit
        '404':
          description: unknown task
  /v1/local-market-check-quote:
    get:
      operationId: localMarketCheckQuote
      summary: Current Local Market Check package price before you pay (free)
      tags:
      - SERP
      security: []
      x-free: true
      responses:
        '200':
          description: Fresh package price and validity
        '503':
          description: No current tariff; the paid route is not offered
  /v1/locations:
    get:
      operationId: locations
      summary: Look up location_code and language_code for the paid SEO endpoints (free)
      tags:
      - SERP
      security: []
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Filter by name, e.g. france or rosenheim
      - name: country
        in: query
        required: false
        schema:
          type: string
        description: Two-letter ISO code, e.g. DE — returns places inside that country instead of the country list
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: Max rows returned (default 100, max 1000)
      responses:
        '200':
          description: Countries and languages, or places inside one country
  /v1/serp-report:
    post:
      operationId: serpReport
      summary: 'Google SERP snapshot for a keyword and location: organic results with rank…'
      tags:
      - SERP
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: '0.030000'
          max: '0.500000'
        protocols:
        - x402: {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - keyword
              properties:
                keyword:
                  type: string
                  minLength: 1
                  description: Search keyword
                location_code:
                  type: integer
                  default: 2276
                  description: DataForSEO location (2276 = Germany)
                language_code:
                  type: string
                  default: de
      responses:
        '200':
          description: Report delivered
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - report
                properties:
                  status:
                    type: string
                  report:
                    type: object
                    description: SERP-Report mit items[] (rank,title,url,description)
                  costUsd:
                    type: number
        '402':
          description: Payment Required
components:
  securitySchemes:
    signInWithX:
      type: apiKey
      in: header
      name: Sign-In-With-X
      description: Base64 JSON containing the exact challenge fields, checksummed address, chainId eip155:8453, type eip191 and EIP-191 signature. Free authentication, not payment. One use, five minutes, bound to method, path and JSON body.
x-refined-from:
- connskill-com-openapi.json
- connskill-com-openapi.yml
x-discovery:
  ownershipProofs:
  - '0x4b92ee6ef3357beddfb6b0d39fbe8be660a934bde8a226539a16a0ea414768394cdc20d14f025c6bf5a630e99eafe177a742d81b4c16d2933cd1c2f85e708cbb1b'
  support:
    title: Wallet support
    url: /v1/support/policy
    authentication: sign-in-with-x
    network: eip155:8453
    paid: false
    description: Free, private support for settled purchases. A short-lived wallet signature proves ownership; never pay again merely to open a case.
    endpoints:
    - url: /v1/support/policy
      method: GET
    - url: /v1/support/challenge
      method: POST
    - url: /v1/support/tickets
      method: GET
    - url: /v1/support/tickets
      method: POST
    - url: /v1/support/tickets/{ticketId}
      method: GET
    - url: /v1/support/tickets/{ticketId}/checkout
      method: POST
    - url: /v1/support/tickets/{ticketId}/discount
      method: POST
  serviceSearch:
    endpoint: /v1/service-search
    method: GET
    requiresPayment: false
    querySentToSources: false
    exhaustiveMarket: false
    sources:
    - connskill-directory
    - cdp-bazaar
    description: Free local search of bounded cached catalogues. Source coverage, age and failures are explicit; unknown units are not price-ranked.
x-support:
  title: Wallet support
  url: /v1/support/policy
  authentication: sign-in-with-x
  network: eip155:8453
  paid: false
  description: Free, private support for settled purchases. A short-lived wallet signature proves ownership; never pay again merely to open a case.
  endpoints:
  - url: /v1/support/policy
    method: GET
  - url: /v1/support/challenge
    method: POST
  - url: /v1/support/tickets
    method: GET
  - url: /v1/support/tickets
    method: POST
  - url: /v1/support/tickets/{ticketId}
    method: GET
  - url: /v1/support/tickets/{ticketId}/checkout
    method: POST
  - url: /v1/support/tickets/{ticketId}/discount
    method: POST
